doctype html
html(lang='en')

    head
        title Binding angular starter template

        block head
        block icons

        link(rel='stylesheet', href='styles/style.css')

    body
        block iestuff
        block navbar

        #content(ng-view='')
            .align-center
                p.label.label-danger If you're seeing this message, that means Angularjs wasn't installed correctly on your machine

        block footer

        script(src='bundle.js')
