doctype html
html(lang='en')

    head
        title NG-write, Angularjs starter template

        block head
        block icons

        link(rel='stylesheet', href='styles/style.css')

    body
        block iestuff
        block navbar

        #content(ng-view='')
            .align-center
                p.label.label-danger If you're seeing this message, that means Angularjs wasn't installed correctly on your machine

        block footer

        script(src='bundle.js')
        script.
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

            try {
                var pageTracker = _gat._getTracker("UA-xxxxxx-x");
                pageTracker._trackPageview();
            } catch (err) {
            }
