.container
    h1.align-center Binding angular
    h3.align-center A starter angularjs template project using the compilation of several tools and frameworks which are Angularjs, HTML 5 Boilerplate, Twitter bootsrap, Jade template engine, Gulp, Webpack, Karma, Protractor and many others !
    p.align-center
        a.btn.btn-lg.btn-default.btn-title(href='https://github.com/ekarudianto/binding-angular/archive/master.zip') Download

